<%- include('../includes/head.ejs') %>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline' https://js.stripe.com https://m.stripe.network;">
    <link rel="stylesheet" href="/css/cart.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main class="mncls">
                <ul class="cart__item-list">
                    <% for(product of products){ %>
                        <li class="cart__item">
                            <h1>
                                <%= product.productId.title %>
                            </h1>
                            <h2>Quantity: <%= product.quantity %>
                            </h2>
                        </li>
                        <% } %>
                </ul>
                <div class="centered checkout">
                    <h2>Total: <%= totalPrice %></h2>
                </div>
                <div>
                    <div class="centered checkout">
                        <button id="order-btn" class=" btn">ORDER</button>
                    </div>
                    <script src="https://js.stripe.com/v3/"></script>
                    <script>
                        var stripe = Stripe("<%= Publishable_key %>");
                        var OrderBtn = document.getElementById("order-btn");
                        OrderBtn.addEventListener("click", () => {
                            stripe.redirectToCheckout({
                                sessionId: '<%= sessionId %>'
                            })
                        })
                    </script>
                </div>
            </main>
            <%- include('../includes/footer.ejs') %>
            <%- include('../includes/end.ejs') %>