<section class="pagination">
    <!-- Previous Button -->
    <% if (hasPreviousPage) { %>
        <a href="?page=<%= previousPage %>" class="pagination__btn">‹</a>
    <% } else { %>
        <span class="pagination__btn disabled">‹</span>
    <% } %>

    <!-- Page Numbers -->
    <% for (let i = 1; i <= totalPages; i++) { %>
        <% if (i === currentPage) { %>
            <span class="pagination__btn active"><%= i %></span>
        <% } else { %>
            <a href="?page=<%= i %>" class="pagination__btn"><%= i %></a>
        <% } %>
    <% } %>

    <!-- Next Button -->
    <% if (hasNextPage) { %>
        <a href="?page=<%= nextPage %>" class="pagination__btn">›</a>
    <% } else { %>
        <span class="pagination__btn disabled">›</span>
    <% } %>
</section>